.direction_row {
    flex-direction: row;
    justify-content: space-between;
}

.form_item_elements {
    display: flex;
}

.form_item_elements input {
    width: auto;
}

.form_item_elements label {
    margin: 0 0 0 5px;
}